
body{
    display:flex;
    justify-content:center;
    align-items: mar;
}
.entireCalculator{
    width:50%;
    height:100vh;
    background-color: white;

}
.screen{
    height:50%;
    background-color: grey;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow:20px 20px 20px red;

}
.buttons{
    display:flex;
    height:50%;
    background-color: rgb(206, 197, 197);
    padding:0.25em;
    gap:0.25em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.column{
    display:flex;
    flex-direction: column;
    height:100%;
    width:100%;
    gap:0.25em;
}
.column button{
    display:flex;
    border-radius:10px;
    height:16%;
    align-items: center;
    justify-content: center;

}
.fourthColumn .equal{
    display:flex;
    height:33.37%
}

